<div class="container h-100 py-5">

    <div class="card p-3 h-100">

        <table class="table table-sm caption-top table-hover">
            <caption>
                <div class="row">
                    <div class="col-2">
                        <span>Pessoas Cadastradas</span>
                    </div>
                    <div class="col-8">
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control  w-50"
                                aria-label="Text input with segmented dropdown button">
                            <button type="button" class="btn btn-outline-secondary">Buscar</button>
                            <select class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
                                <option value="1">Nome</option>
                                <option value="2">Telefone</option>
                                <option value="3">E-mail</option>
                                <option value="3">Estado</option>
                              </select>
                        </div>
                    </div>
                    <div class="col-2">
                        <button class="btn btn-primary btn-xs" style="position: absolute; right: 1rem;" (click)="addPessoa()">Novo</button>
                    </div>
                </div>
            </caption>
            <thead>
                <th>Nome</th>
                <th>Telefone</th>
                <th>E-mail</th>
                <th>Estado</th>
            </thead>
            <tbody>
                <tr *ngFor="let pessoa of pessoas; let i = index;" (click)="updatePessoa(pessoa, i)">
                    <td>{{pessoa.nome}} {{pessoa.sobrenome}}</td>
                    <td>{{pessoa.telefone | mask: 'telefone'}}</td>
                    <td>{{pessoa.email}}</td>
                    <td>{{pessoa.estado}}</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>